<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>A Simple Blog | <%= title %> </title>
    </head>
    <body>
        <%- include('partials/nav') %>
        <div class="text-2xl font-normal leading-normal mt-0 mb-2 text-blue-800 p-2 text-center">
            <%= blog.title %>
        </div>
        <div class="text-m font-normal leading-normal mt-0 mb-2 text-blue-800 px-10">
            <%- blog.body %>
        </div>
    </body>
</html>